<p id="notice"><%= notice %></p>
      <div id="ArtistList">
<h1>Our Talented Artists</h1>


<% @currentartists.each do |artist| %>
  <br />
    <%= link_to artist.name, artist %>
<% end %>
 
<br /><br /><br />
<%= link_to "See our former members.", :controller => :artists, :action => :alumni %>
</div>

