#banner{
background-color: #000000;
white-space: nowrap;
padding-top: 10px;
 height: 130px;
width: 100%; 
}
#banner img{
    display: inline;
    vertical-align: top;
}
#leftnav{
	float: left;
	width: 140px;
	height: 1000px;
	background-color: #000000;
	border-right: 2px dashed #694717;
}
#leftnav a{
	color: #696565;
}
#leftnav a:visited{
	color: #806517;
}
#leftnav a:hover{
	font-weight: bold;
}

#container{
	max-height: 500px;
}
#body
{	
	height: 500px;
	background-color: #000000;
}
