#header {
    position: relative;
    height: 195px;
    width: 1000px;
    background-color: #000000;
    border-bottom: 2px solid #000000; 
    top: 10px;
    left: 20px;
    border-radius: 50px;
    -moz-border-radius: 50px;
}
.headimg{
    position: inherit;
    left: 0px;
    padding-bottom: 10px;
    border-radius: 25px;
    -moz-border-radius: 50px;
}
.headtext{
    position: inherit;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.leftnav{
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 20px;
    float: bottom;
    bottom: 10px;
    background-color: #000000;
}
.leftnav a{
    color: #696565;
}
.leftnav a:visited{
    color: #806517;
}
.leftnav a:hover{
    font-weight: bold;
}
.leftnav a:visited{
    color: #806517;
}
.leftnav a:hover{
    font-weight: bold;
}
#navlist{
    height: 10px;
}
#navlist li
{
    display: inline;
    padding-right: 80px;
}
#rightnav{
    position: absolute;
    top: 300px;
    right: 10px;
    width: 140px;
    height: 750px;
    background-color: #F8AA3C;
    border: 2px ridge #694717;
}

#rightnav a{
    color: #696565;
}
#notice
{
    font-weight: bold;
    height: 15px;
    color: #7CFC00;
}
#bg{

    background-color: #000000;
    repeat: repeat;
    width: 1700px;
    height: 1300px;
    max-width: 1700px;
    max-height: 1300px;
}
#container{
    background-image: url(../images/mural2.jpg);
    background-size: 1500x1125px;
    background-repeat: no-repeat;
}
#bodice
{

    top: 10px;
    height: 1000px;
    width: 800px;
    color: #222222;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
table.out
{
    margin-top: 30px;
    margin-left: -175px;
    background-color: 55AA33;
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 400px;
}
td.outer
{
    width: 33%;
    border: 1px solid black;
    border-collapse: collapse;
    
}
th.outer{
    border: 1px solid black;
    border-collapse: collapse;
}
table.nested, table.nested, td, th
{
    background-color: #EEC591;
    border: 0px;
    border-collapse: collapse;
}
td.inner
{

    border: 0px;
    width: 200px;
    border-collapse: collapse;
}
th.inner{

    border: 0px;
    border-collapse: collapse;
}

#eventslisting{
    text-align: center;
    width: 250px;
    height: 80px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
}
#PersonalListing{
    text-align: center;
    width: 400px;
    height: 90px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
}
.top{
    position: inherit;
    padding-top:0px;
}
.bottom{
    position: inherit;
    padding-bottom: 0px;
}

#TextContain{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-left: -250px;
    text-align: center;
    width: 700px;
    height: 300px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

#ArtistList{
    margin-top: 0px;
    margin-left: -250px;
    text-align: center;
    width: 700px;
    height: 400px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

#ArtistLeft{
    text-align: center;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -400px;
    margin-left: -350px;
    margin-right: 50px;
    text-align: center;
    width: 500px;
    height: 450px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
}
#ArtLeft{
    text-align: center;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -350px;
    margin-right: 50px;
    margin-top: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
}
#ArtistPic{
    margin-right: 230px;
    margin-top: 30px;
    float: right;
}
#ArtPic{
    margin-right: 375px;
    margin-top: 30px;
    float: right;
}

#floater{vertical-align: middle; height:50%; margin-bottom:0px;}
