#header {
     position: relative; 
    height: 195px;
    width: 1000px;
    background-color: #000000;
    border-bottom: 2px solid #000000; 

    top: 10px;
    left: 20px;
    -ms-border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;

    -ms-box-shadow: 10px 7px 5px #888888;
    -moz-box-shadow: 10px 7px 5px #888888;
    -webkit-box-shadow: 10px 7px 5px #888888;
    -o-box-shadow: 10px 7px 5px #888888;
    box-shadow: 10px 7px 5px #888888;

}
.headimg{
    /* position: inherit; */
    left: 0px;
    padding-bottom: 10px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;



}
.headtext{
    /* position: inherit; */
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.leftnav{
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 20px;
    float: bottom;
    bottom: 10px;
    background-color: #000000;
}
.leftnav a{
    color: #696565;
    text-decoration: none;
}
.leftnav a:visited{
    color: #806517;
}
.leftnav a:hover{
    font-weight: bold;
}
#navlist{
    height: 10px;
}
#navlist li
{
    display: inline;
    padding-right: 80px;
}
#rightnav{
    position: absolute;
    top: 300px;
    right: 40px;
    width: 100px;
    padding: 5px 10px 5px 10px;
    max-height: 1000px;
    border: 2px ridge #694717;
    border-radius: 10px;
    text-align: center;
    
    -ms-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;

/* Gradient */
    /* For WebKit (Safari, Google Chrome etc) */    background: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#fff));
 /* For Mozilla/Gecko (Firefox etc) */   background: -moz-linear-gradient(top, #00f, #fff);
  /* For Internet Explorer */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF);

}
#rightnav:hover{
    width: 150px; 
}
#rightnav a{
    color: #696565;
}
#mouseexpand{
    display: block; 
    position: absolute;
    top: 400px;
    right: 40px;
    max-width: 300px;
    padding: 5px 10px 5px 10px;
    max-height: 1000px;
    border: 2px ridge #694717;
    border-radius: 10px;
    font-size: 150%;
    
    background-color: #EEC591;
    background-color: rgba(238, 197, 145, 1);

    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    font-family: Linden, Times, Arial;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
  } 

@-webkit-keyframes growlist{
   0%{
     -webkit-transform: scale(1, 0); 
    }
   5%{
 -webkit-transform: scale(1, 0); 
   }
   15%{
     -webkit-transform: scale(1, 1); 
    }
   100%{
       -webkit-transform: scale(1, 1);
       }
}
@-webkit-keyframes shrinklist{
   0%{
     -webkit-transform: scale(1, 1); 
    }
   90%{
     -webkit-transform: scale(1, 1); 
    }
   100%{
       -webkit-transform: scale(1, 0);
       }
}

#notice
{
    font-weight: bold;
    max-height: 25px;
    color: #7CFC00;
}
#bg{

    /* background-color: #68228B; */
    background-color: #222222;

    /* background-color: #331060; */
    repeat: repeat;
    max-width: 2000px;
    max-height: 2200px;
}
#container{
    position: absolute;
    /* background-image: url(../images/mural2.jpg); */
    /* background-size: 1500x1125px; */
    width: 1500px;
    min-height: 1125px;
    max-height: 2000px;
    /* background-repeat: no-repeat; */
    opacity: 0.2;
}
#opaque{
    position: relative;
    opacity: 1;
}

#bodice
{
    top: 10px;
    min-height: 1000px;
    max-height: 2500px;
    width: 800px;
    color: #222222;
    padding-left: 10px;
}
table.out
{
    margin-top: 0px;
    margin-left: 125px;
    width: 600px;
    height: 400px;
}
td.outer
{
    width: 33%;
    
}
th.outer{
    border: 1px solid black;
    border-collapse: collapse;
}
table.nested, table.nested, td, th
{
    /* background-color: #EEC591; */
    /* border: 0px; */
    /* border-collapse: collapse; */

}
td.inner
{


    width: 200px;
}
td.inner div
{

    -webkit-transition: -webkit-transform 1.5s;
    -moz-transition: -moz-transform 1.5s;
    -o-transition: -o-transform 1.5s;
    transition: transform 1.5s;
}
td.inner div:hover
{

    -moz-animation: shaker 1s;
    -webkit-animation: shaker 0.75s;
    animation: shaker 1s linear;
    -webkit-animation-fill-mode: forwards;
/* transform: scale(1.5, 1.5) rotate(360deg); */
/* -webkit-transform: scale(1.5, 1.5) rotate(360deg); */
/* -ms-transform: scale(1.5, 1.5); */
/* -o-transform: scale(1.5, 1.5) rotate(360deg); */
/* -moz-transform: scale(1.5, 1.5) rotate(360deg); */
}
td.inner #imageinstance #tagger{
    -webkit-transform: scale(0, 0);
    border-radius: 5px 5px 5px 5px;
    border: 5px groove rgba(80, 0, 110, 1);
    font-family: Linden, Times, Arial;
}
td.inner #imageinstance:hover #tagger{
    padding: 5px 5px 5px 5px;
    -webkit-animation: grower 0.75s linear;
    -webkit-animation-fill-mode: forwards;
    color: #821E64;
    color: rgba(130, 30, 100, 1);
}
th.inner{
/* border: 0px; */
/* border-collapse: collapse; */
}

@-webkit-keyframes grower
{
    from{-webkit-transform: scale(0, 0);
	 background: rgba(238, 197, 145, 0);
	}
    to{-webkit-transform: scale(1, 1);
       background: rgba(238, 197, 145, 1);
      }
}
@-webkit-keyframes shaker
{
    0% {-webkit-transform: scale(1, 1) rotate(0deg);}
    20% {-webkit-transform: scale(1.1, 1.1) rotate(15deg);}
    40% {-webkit-transform: scale(1.2, 1.2) rotate(-10deg);}
    60% {-webkit-transform: scale(1.3, 1.3) rotate(7deg);}
    80% {-webkit-transform: scale (1.4, 1.4) rotate(-5deg);}
    100% {-webkit-transform: scale(1.5, 1.5) rotate(0deg);}

}
h1{
    font-family: Linden, Times, Arial;
}
h2{
    font-family: Linden, Times, Arial;
}
h3{
    font-family: Linden, Times, Arial;
}
h4{
    font-family: Linden, Times, Arial;
}
h5{
    font-family: Linden, Times, Arial;
}
#numberOverload{
    font-family: Times, Arial;
    color: rgba(130, 30, 30, .8);
}
@font-face{
    font-family: Linden;
    src: url('../fonts/LindenHill/LindenHill-Italic.otf');
}
@font-face{
    font-family: Linden;
    src: url('../fonts/LindenHill/LindenHill.otf');
    font-weight: bold;
}
@font-face{ 
    font-family: myheadfont;
	    src: url('../fonts/Sansation/Sansation_Regular.ttf');
}
@font-face{ 
    font-family: myheadfont;
	    src: url('../fonts/Sansation/Sansation_Bold.ttf');
	    font-weight: bold;
}

#eventslisting{
    text-align: center;
    width: 250px;
    height: 80px;
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 400px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
}
#PersonalListing{
    text-align: center;
    width: 450px;
    max-height: 150px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-left: 300px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;

    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

}
.bottom{
    position: inherit;
    padding-bottom: 0px;
}
#TextContain{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-left: 75px;
    text-align: center;
    width: 700px;
    height: 300px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;

    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

}

#ArtistList{
    margin-top: 60px;
    margin-left: 240px;
    text-align: center;
    width: 500px;
    padding-bottom: 25px;
    max-height: 1500px;
    max-width: 800px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;

    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

}

#ArtistLeft{
    margin-top: 0px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    margin-left: 100px;
    text-align: center;
    width: 600px;

    max-height: 2000px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;

    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

}
#artlist{
list-style: none;
height: 800px;
width: 1000px;
}
#artlist li{
    display: inline;
}
#ArtLeft{
    float: left;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    margin-top: 100px;
    text-align: center;
    width: 300px;
    max-height: 700px;
    background-color: #EEC591;
    color: black;
    border: 5px solid black;

    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

}
#ArtistPic{
    display: inline;
    margin-right: 40px;
    margin-top: 60px;
    float: left;
}
#ArtPic{ 
    float: left;
    margin-left: 60px;
    padding-top: 30px;
} 
#biolist{
    margin-top: 60px;
    margin-left: 60px;
}
#biolist li{
    display: inline;
    padding-right: 40px;
}

#floater{vertical-align: middle; height:50%; margin-bottom:0px;}
