<% if @events.empty? %>
<h1>There are no scheduled events</h1>
<% else %>
<h1>Listing events</h1>

  <table id="eventstable">
  <tr>
    <th>Name&nbsp&nbsp&nbsp</th>
    <th>Date&nbsp&nbsp&nbsp   </th>
    <th>Time&nbsp&nbsp&nbsp   </th>
    <th>Place&nbsp&nbsp&nbsp   </th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %> &nbsp&nbsp&nbsp</td>
    <td><%= event.date %></td>
    <td><%= event.time %></td>
    <td><%= event.place %></td>
  </tr>
<% end %>
</table>

<% end %>
<br />

