<h1>What We Do</h1>
<p>We are a non profit privately funded group that is helping young aspiring artists. We do this by bringing a multitiude of artists together which creates an inspiring art setting at an affordable monthly rent. Our goal is to keep artists immersed in their artwork rather than being sucked into a stressful job in order to make ends meet. Of course we are looking for fun individuals that can get along well with others and provide energy for the community. Feel free to contact us if you are interested in being involved.</p>
<!-- TODO add and link application page -->
