<h1>Actions</h1>


<%= link_to 'New Account', new_account_path %>
<br />
<%= link_to 'List Accounts (Priviledged)', :action => 'list' %>
<%= link_to 'Change your password.', :controller => 'accounts', :action => 'changepassword', :id => @ident %>
<br />
